RESEND_API_KEY=your_resend_api_key_here
UPSTASH_REDIS_REST_URL="https://eternal-elf-75982.upstash.io"
UPSTASH_REDIS_REST_TOKEN="gQAAAAAAASjOAAIncDExNzQ2ZTNkYjU0ZjM0YTE0OTMwMDVjNjBhMjRiN2I3MXAxNzU5ODI"
